<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Patients</title>
    <!-- Bootstrap CSS from WebJar -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
</head>
<body>

<div layout:fragment="content1">

    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/save}">
            <div>
                <label for="nom">Nom</label>
                <input class="form-control"
                       type="text"
                       id="nom"
                       name="nom"
                       th:value="${patient.nom}">
                <span class="text-danger" th:errors="${patient.nom}"></span>
            </div>

            <div>
                <label for="dateNaissance">Date de naissance</label>
                <input class="form-control"
                       type="date"
                       id="dateNaissance"
                       name="dateNaissance"
                       th:value="${patient.dateNaissance}">
                <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
            </div>

            <div>
                <label for="malade">Malade</label>
                <input
                        type="checkbox"
                        id="malade"
                        name="malade"
                        th:checked="${patient.malade}">
                <span class="text-danger" th:errors="${patient.malade}"></span>
            </div>

            <div>
                <label for="score">Score</label>
                <input class="form-control"
                       type="text"
                       id="score"
                       name="score"
                       th:value="${patient.score}">
                <span class="text-danger" th:errors="${patient.score}"></span>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>



</div>

<!-- Bootstrap Bundle JS from WebJar -->
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
