<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h2>List Patients</h2>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Nom</td>
        <td>Date</td>
        <td>Malade</td>
        <td>score</td>
    </tr>

    <tr th:each="p:${patientList}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nom}"></td>
        <td th:text="${p.dateNaissance}"></td>
        <td th:text="${p.malade}"></td>
        <td th:text="${p.score}"></td>
    </tr>


    </thead>
</table>
</body>
</html>